nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
  a.navbar-brand(href='#',id="sidebarToggle")
    i(class="fas fa-list") Setting

  a.btn.btn-danger(type='submit',href='/user/logout') Logout
    .sb-nav-link-icon
      i.fas.fa-power-off
    



