nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
  a.navbar-brand(href='#')
    i(class="fas fa-list") Setting

  a.btn.btn-primary(type='submit',id="logout",name="logout",style="background-color: red;") Logout

    



