<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title  #{title}
        //---add icon---///
        link(rel="icon" , type="image/png", href="images/icon.png")
        //--add a css file--//
        link(rel="stylesheet" href="/stylesheets/style.css")
        //--add js file---//

    body
        div
            h1(class="center") Asign
            form(action='/asign', method='post')
                input(type="text" name="a_name" placeholder="Your name..")
                input(type="text" name="a_pass" placeholder="Your password..")
                br
                input(type='submit', value='Asign')
        br

        form(action='/', method='get')
            br
            hr
            input(type='submit', value='Home',style="width: 10%;background-color: red")

