extends layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Charts'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid
        include pages/includes/page-header.pug
        .card.mb-4
            .card-body.
                IoT Server 365 suport line chart and bar chart, in future, we will support muilti chart
        .card.mb-4
            .card-body
                ul
                    each dev in devices
                        li= "device " + dev.mask.toString()
        .card.mb-4
            .card-header
                i.fas.fa-chart-line.mr-1
                | Line Chart
            .card-body
                canvas#myLineChart(style="display: block; height: 400px; width: 400px;" width="100%" height="100%")
            .card-footer.small.text-muted Updated just now
    
        .card.mb-4
            .card-header
                i.fas.fa-chart-bar.mr-1
                | Bar Chart 
            .card-body
                canvas#myBarChart(style="display: block; height: 400px; width: 400px;" width="100%" height="100%")
            .card-footer.small.text-muted Updated just now

append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js', crossorigin='anonymous')
    script(src='/javascripts/chart-line.js')
    script(src='/javascripts/chart-bar.js')
