<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}
        //---add icon---///
        link(rel="icon" , type="image/png", href="/images/icon.png")
        //--add a css file--//
        //--link(rel="stylesheet" ,href="/stylesheets/style.css")
        link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        //--add js file---//
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")
        //--script(type="text/javascript" src="/node_modules/chart.js/dist/Chart.js")
        //--script(type="text/javascript" src="/javascripts/mychar.js")

        //----//
    body
        form(action='/user/display', method='get')
            input(type='submit', value='    Refresh    ',style="width: auto;background-color: green")
        br
        hr
        div(class="container")
            canvas(id="mychart")

        div(class="container")
            canvas(id="mychart2")

        script. 

            var mychart = document.getElementById("mychart").getContext('2d');
            var mychart2 = document.getElementById("mychart2").getContext('2d');

            var massPopChart = new Chart(mychart, {
                type:'line', 
                data:{
                    labels: [],
                    datasets:[{
                        fill:false,
                        label:"sensor 1",
                        data: [],
                        backgroundColor:'rgba(153, 102, 255, 0.2)',
                        
                        borderColor:'#47',
                        borderWidth: 5
                    },{
                        fill:false,
                        label:"sensor 2",
                        data: [],
                        backgroundColor:'rgba(75, 192, 192, 0.2)',
                        borderColor:'#48',
                        borderWidth: 5
                    }]
                },
                options:{
                    title:{
                        
                        display:true,
                        text:'Chart of sensor 1 follow timestamp',
                        fontSize:25
                    },
                    legend:{
                        display:true,
                        position:'right',
                        labels:{
                            fontColor:'#35'
                        }
                    },
                    layout:{
                        padding:{
                            left:50,
                            right:0,
                            bottom:0,
                            top:0
                        }
                    },
                    tooltips:{
                        enabled:true
                    }
                }
            });
            var massPopChart2 = new Chart(mychart2, {
                type:'line', 
                data:{
                    labels: [],
                    datasets:[{
                        fill:false,
                        label:"sensor 3",
                        data: [],
                        backgroundColor:'rgba(153, 102, 255, 0.2)',
                        
                        borderColor:'#47',
                        borderWidth: 5
                    },{
                        fill:false,
                        label:"sensor 4",
                        data: [],
                        backgroundColor:'rgba(75, 192, 192, 0.2)',
                        borderColor:'#48',
                        borderWidth: 5
                    }]
                },
                options:{
                    title:{
                        
                        display:true,
                        text:'Chart of sensor 1 follow timestamp',
                        fontSize:25
                    },
                    legend:{
                        display:true,
                        position:'right',
                        labels:{
                            fontColor:'#35'
                        }
                    },
                    layout:{
                        padding:{
                            left:50,
                            right:0,
                            bottom:0,
                            top:0
                        }
                    },
                    tooltips:{
                        enabled:true
                    }
                }
            });     
            //--this post id drives the example data
            async function getData(){
                var response= await fetch('https://iotmakerserver.herokuapp.com/user/display/getdata/');
                var datum= await response.text();
                datum =JSON.parse(datum);

                let i=0;
                massPopChart.data.labels.push(datum.label);
                massPopChart.data.datasets.forEach((dataset) => {
                    dataset.data.push(datum.data[i]);
                    i ++;
                });
                massPopChart.update();

                massPopChart2.data.labels.push(datum.label);
                massPopChart2.data.datasets.forEach((dataset) => {
                    dataset.data.push(datum.data[i]);
                    i ++;
                });
                massPopChart2.update();
            }
            setInterval(getData, 2000);

        form(action='/user', method='get')
            br
            hr
            input(type='submit', value='    Return    ',style="width: auto;background-color: red")


          



    

