<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}
        //---add icon---///
        link(rel="icon" , type="image/png", href="/images/icon.png")
        //--add a css file--//
        //--link(rel="stylesheet" ,href="/stylesheets/style.css")
        link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        //--add js file---//
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js")
        script(type="text/javascript" src="/node_modules/chart.js/dist/Chart.js")

        //----//
    body
        div
            canvas(id="mychart")

        script. 
            var m_data=#{m_data};
            var m_label=#{m_label};
            var mychart = document.getElementById("mychart").getContext('2d');
            Chart.defaults.global.defaultFontFamily = 'Lato';
            Chart.defaults.global.defaultFontSize = 18;
            Chart.defaults.global.defaultFontColor = '#777';

            var massPopChart = new Chart(mychart, {
                type:'line', 
                data:{
                    labels: m_label,
                    datasets:[{
                        label:"sensor 1",
                        data: m_data,
                        backgroundColor:[
                            'rgba(255, 99, 132, 0.6)'
                        ],
                        borderWidth:1,
                        borderColor:'#777',
                        hoverBorderWidth:3,
                        hoverBorderColor:'#000'
                    }]
                },
                options:{
                    title:{
                        display:true,
                        text:'Chart of sensor 1 follow timestamp',
                        fontSize:25
                    },
                    legend:{
                        display:true,
                        position:'right',
                        labels:{
                            fontColor:'#000'
                        }
                    },
                    layout:{
                        padding:{
                            left:50,
                            right:0,
                            bottom:0,
                            top:0
                        }
                    },
                    tooltips:{
                        enabled:true
                    }
                }
            });

          



    

