<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}

        link(rel="icon" , type="image/png", href="/images/icon.png")
        link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        //-script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")
        script(src="/javascripts/Chart.bundle.js")
    body
        form(action='/user/display', method='get')
            input(type='submit', value='    Refresh    ',style="width: auto;background-color: green")
        br
        hr
        div(class="container")
            canvas(id="mychart")
        hr
        br
        div(class="container")
            canvas(id="mychart2")
        hr
        br
        
        script(src="/javascripts/chart.js")
        form(action='/user', method='get')
            br
            hr
            input(type='submit', value='    Return    ',style="width: auto;background-color: red")


          



    

