extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Verify email
                        h6(id="status",style="color: red;")
                    .card-body
                        form
                            .form-group
                                label.small.mb-1(for='email') Email
                                input#email.form-control.py-4(type='email', placeholder='Enter email address')
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.btn.btn-primary(type='submit',id="verify",name="verify") Verify
                            a.small(href='/login') Remember pass again
                        script(src="/javascripts/veryfi_email.js")
                    .card-footer.text-center
                        .small
                            a(href='/register') Need an account? Sign up!
                        //- .small
                        //-     a(href='/login') Remember pass again
