<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}

        //--!> add link srouce here
        link(rel="icon" , type="image/png", href="/images/icon.png")
        link(rel="stylesheet" ,href="/stylesheets/style.css")
        link(rel="stylesheet" ,href="/stylesheets/sliderButton.css")
        //- link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        style. 
            .button {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
            }

    body(style="background-color:black;")
        div(style="background-color:white")
            input(type="hidden",name ="device",value="0",id="dev")
            h2 BadRoom
            hr
            p Light
            label(class="switch") 
                input(type="checkbox", id="s12", name="io" ,value="12")
                span(class="slider round")
            br
            p Fan
            label(class="switch")
                input(type="checkbox",id="s13" name="io" value="13")
                span(class="slider round")
            br
            p TV
            label(class="switch") 
                input(type="checkbox",id="s14" name="io" value="14")
                span(class="slider round")
            br
            p Air-Conditioner
            label(class="switch")
                input(type="checkbox",id="s15" name="io" value="15")
                span(class="slider round")
        br
        br

        form(action='/user/GUI/livingroom' method='get')       
            input(type='submit' value='  ((=Previus  ',style="width: auto")        
        br
        form(action='/user/GUI/kitchen' method='get')
            input(type='submit' value='    Next=))    ',style="width: auto")    

        script(src="/javascripts/controlBadroom.js")