<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}

        //--!> add link srouce here
        link(rel="icon" , type="image/png", href="/images/icon.png")
        link(rel="stylesheet" ,href="/stylesheets/style.css")
        link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")

    body
        h2(class="center") on off the device  
        form(action="/user/GUI", method='post')
            select(name="io",style="width: auto" , class="center")
                option(value="16") Fan
                option(value="17") Refrigerator
                option(value="18") Induction cooker
                option(value="19") Ligth

            br 
            input(name="device",style="width: auto" , value ="1")


            button(name="value", type="submit" ,value=0 ,style="width: auto;background-color: green" , class="center")  ON
            button(name="value" ,type="submit" ,value=1 ,style="width: auto;background-color: red" , class="center") OFF



                


