<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}

        //--!> add link srouce here
        link(rel="icon" , type="image/png", href="/images/icon.png")
        link(rel="stylesheet" ,href="/stylesheets/style.css")
        link(rel="stylesheet" ,href="/stylesheets/sliderButton.css")
        //- link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        style. 
            .button {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
            }

    body(style="background-color:black;")
        div(style="background-color:white")
            input(type="hidden",name ="device",value="0",id="dev")
            h2 Kitchen 
            hr
            p Light
            label(class="switch") 
                input(type="checkbox", id="s16", name="io" ,value="0")
                span(class="slider round")
            br
            p Fan
            label(class="switch")
                input(type="checkbox",id="s17" name="io" value="2")
                span(class="slider round")
            br
            p Refrigerator
            label(class="switch") 
                input(type="checkbox",id="s18" name="io" value="4")
                span(class="slider round")
            br
            p Induction cooker
            label(class="switch")
                input(type="checkbox",id="s19" name="io" value="5")
                span(class="slider round")
        br
        br

        form(action='/user/GUI/badroom' method='get')       
            input(type='submit' value='  ((=Previus  ',style="width: auto")        
        br
        form(action='/user/GUI/bathroom' method='get')
            input(type='submit' value='    Next=))    ',style="width: auto")    

        script(src="/javascripts/controlKitchen.js")

        br
        hr
        form(action='/user/GUI', method='get')
            input(type='submit', value='    Return    ',style="width: auto;background-color: red")