extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Add/Remove Device
                        h6(id="status",style="color: red;")
                    .card-body
                        form
                            .form-group
                                label.small.mb-1(for='dev') Block
                                input#block.form-control.py-4(type='text', placeholder='Enter index of Block you want to use')
                            .form-group
                                label.small.mb-1(for='mask') Mask of Block
                                input#mask.form-control.py-4(type='text', placeholder='Enter name of Block you want')
                            .form-group
                                label.small.mb-1(for='type') Type of Block
                                input#type.form-control.py-4(type='text', placeholder='Enter type of Block you want')
                            .form-group
                                label.small.mb-1(for='num') Number Equipment/Sensors
                                input#num.form-control.py-4(type='text', placeholder='Enter number Equips or Sens you want in Block ')
                            .row
                                .col-6
                                    .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                    a.btn.btn-primary(type='submit',id="addDev",name="add") Add
                                .col-6
                                    .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                    a.btn.btn-primary(type='submit',id="removeDev",name="remove",style="background-color: red") Remove
                        script(src="/javascripts/configDev.js")
                    .card-footer.text-center
                        .row
                            .col-6
                                .small
                                    a(href='/user') Return to your Dashboard
                            .col-6    
                                .small
                                    a(href='/user/config/equipments') Go to Equipments table
                        .row 
                            .col-6

                            .col-6
                                .small
                                    a(href='/user/config/sensors') Go to Sensors table
