<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}
        //---add icon---///
        link(rel="icon" , type="image/png", href="images/icon.png")
        //--add a css file--//
        link(rel="stylesheet" ,href="/stylesheets/style.css")
        link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        //--add js file---//
        script(type ="text/javascript",src="/javascripts/tool.js").
            showTime()
        //-for io module--//
        //- script(src="socket.io/socket.io.js")
        //- script. 
        //-     var socket =io("http://localhost:6969");
        //-     socket.emit("client","hello");
        //----//
    body(onload="showTime()",style="background-color:lightblue;")
        //--clock---///
        div(id ="Clock", class= "clock")
        hr
        //----content--///
        h1(style="text-align :center") Welcom to Iot Server 365 of Phạm Minh Thuận
        br
                //---user----//
        div(style="border:1px solid black")
            h3
                b User :
            p Click on picture to go to your page
            a(href="/user", target="_blank")
                img(src="/images/user.png",class="center")
        br
                //---test----//
        //- div(style="border:1px solid black")
        //-     h3
        //-         b Tester :
        //-     p For Test
        //-     a(href="/test", target="_blank")
        //-         img(src="/images/viewer.png",class="center")
        //- br
        //-         //---Storage----//
        //- div(style="border:1px solid black")
        //-     h3
        //-         b Storage :
        //-     p this is a storage, which esp send data to store in database
        //-     a(href="/storage", target="_blank")
        //-         img(src="/images/storage.jpg", class="center")
        //- br
                //---Advertise--//

        h1(style="text-align: center") Adverisement
        iframe(class="center", style="margin-left: auto;margin-right: auto;display: block;" ,src="https://www.youtube.com/embed/v=z9NAfxbrCr8?autoplay=1&playlist=z9NAfxbrCr8&loop=1")