<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title  #{title}
        //---add icon---///
        link(rel="icon" , type="image/png", href="images/icon.png")
        //--add a css file--//
        link(rel="stylesheet" href="/stylesheets/style.css")
        //--add js file---//

    body
        div
            h1(class="center") Login
            form(action='/login', method='post')
                input(type="email" name="email" placeholder="Your email..")
                input(type="password" name="pass" placeholder="Your password..")
                input(type='submit', value='Log in')
        br
    form(action='/register', method='get')
        h2(class="center") if you don't have account , click here
        input(type='submit', value='Regis',style="width: 10%")

    form(action='/', method='get')
        br
        hr
        input(type='submit', value='Home',style="width: 10%;background-color: red")