<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title  #{title}
        //---add icon---///
        link(rel="icon" , type="image/png", href="images/icon.png")
        //--add a css file--//
        link(rel="stylesheet" href="/stylesheets/style.css")
        //--add js file---//

    body
        h2(class="center") #{error}
        div
            h1(class="center") Regis
            form(action='/register', method='post')
                input(type="email" name="a_email" placeholder="Your email..")
                input(type="password" name="a_pass" placeholder="Your password..")
                br
                input(type='submit', value='Regis')
        br
        form(action='/login', method='get')
            input(type='submit', value='Login',style="width: 10%")

        form(action='/', method='get')
            br
            hr
            input(type='submit', value='Home',style="width: 10%;background-color: red")

