<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}
        //---add icon---///
        link(rel="icon" , type="image/png", href="/images/icon.png")
        //--add a css file--//
        //--link(rel="stylesheet" ,href="/stylesheets/style.css")
        link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        //--add js file---//
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")
        //--script(type="text/javascript" src="/node_modules/chart.js/dist/Chart.js")
        //--script(type="text/javascript" src="/javascripts/mychar.js")
        script(src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js") 

        //----//
    body(onload="getData()")
        div(id="te") hello
        script. 
            //--this post id drives the example data
            async function getData(){
                var response= await fetch('http://localhost:6969/user/display/test');
                var datum= await response.text();
                datum =JSON.parse(datum);
                
                document.getElementById("te").innerHTML = datum.data[i].toString();
            }
            getData();
            setInterval(getData, 1000);

    form(action='/user', method='get')
        br
        hr
        input(type='submit', value='    Return    ',style="width: auto;background-color: red")


          



    

