extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Add/Remove Device
                        h6(id="statusPass",style="color: red;")
                    .card-body
                        form
                            .form-group
                                label.small.mb-1(for='dev') Device
                                input#dev.form-control.py-4(type='text', placeholder='Enter index of dev you use')
                            .form-group
                                label.small.mb-1(for='mask') Mask of device
                                input#mask.form-control.py-4(type='text', placeholder='Enter name of dev you want')
                            .row
                                .col-6
                                    .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                    a.btn.btn-primary(type='submit',id="addDev",name="add") Add
                                .col-6
                                    .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                    a.btn.btn-primary(type='submit',id="removeDev",name="remove",style="background-color: red") Remove
                        script(src="/javascripts/configSensors.js")
                    .card-footer.text-center
                        .small
                            a(href='/user/config') Return config Dev
                        .small
                            a(href='/user') Return your page
