extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Add/Remove Device
                        h6(id="statusPass",style="color: red;")
                    .card-body
                        form
                        .form-group
                            label.small.mb-1(for='s1',class="switch") sensor 1
                            input#s1.form-control.py-4(type='checkbox')
                            
                        link(rel="stylesheet", href="/stylesheets/toggleButton.css")
                        script(src="/javascripts/configSensors.js")
                    .card-footer.text-center
                        .small
                            a(href='/user/config') Return config Dev
                        .small
                            a(href='/user') Return your page
