extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Add/Remove Device
                        h6(id="statusPass",style="color: red;")
                    .card-body
                        form
                            .form-group(class="checkbox")       
                                input#s1(type="checkbox", data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="100",data-on="senor1", data-off="sensor1")

                            br
                            .form-group(class="list-group")
                                a(href="#" class="list-group-item list-group-item-action") your dev
                                    each devi in dev
                                    - var url = '/user/config/sensors/'+ devi.type.toString();
                                    a(href=url ,class="list-group-item list-group-item-action list-group-item-success")= devi.mask
                        script(src="/javascripts/configSensors.js")
                    .card-footer.text-center
                        .small
                            a(href='/user/config') Return config Dev
                        .small
                            a(href='/user') Return your page
