extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Add/Remove Device
                        h6(id="statusPass",style="color: red;")
                    .card-body
                        form
                        .form-group(class="checkbox")       
                            <label>
                                <input type="checkbox" data-toggle="toggle">
                                Option one is enabled
                            </label>
                        
                        script(src="/javascripts/configSensors.js")
                    .card-footer.text-center
                        .small
                            a(href='/user/config') Return config Dev
                        .small
                            a(href='/user') Return your page
