extends layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Tables'
    - var sidenavStyle = 'sb-sidenav-dark'
    
append css
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')
    link(href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css', rel="stylesheet", crossorigin='anonymous')
    link(href='https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css', rel='stylesheet', crossorigin='anonymous')
    link(rel="stylesheet" ,type="text/css" ,href="https://cdn.datatables.net/1.10.20/css/dataTables.jqueryui.min.css")

block content
    .container-fluid
        include pages/includes/page-header.pug
        .card.mb-4
            .card-header
                | Choose dev support Table that you have config, DataTables help you see data from sensor intuitively
            .card-body
                select(id = "tables",class="custom-select sources")
                    each device in devices
                        -let dev_id = device.dev.toString();
                        -let mask = device.mask.toString();
                        option(value = dev_id) #{mask}
                br
                .form-group
                    label.small.mb-1(for='number') Number of data
                    input#number.form-control.py-4(type='text', placeholder='Enter number you want')
                .row
                    .col-1
                        .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                        a.btn.btn-primary(type='submit',id="add_table",style="background-color: green;") Choose
                br
                .form-group
                    .row
                        .col-1
                            label.small.mb-1(for='sty') start day
                        .col-1
                            input#sty.form-control.py-4(type='text', placeholder='Enter year start')
                        .col-1
                            label.small.mb-1(for='stm') /
                        .col-1
                            input#stm.form-control.py-4(type='text', placeholder='Enter month start')
                        .col-1
                            label.small.mb-1(for='std') /
                        .col-1
                            input#std.form-control.py-4(type='text', placeholder='Enter day start')
                        .col-1
                            label.small.mb-1(for='sth') /
                        .col-1
                            input#sth.form-control.py-4(type='text', placeholder='Enter hour start')
                        .col-1
                            label.small.mb-1(for='stmi') /
                        .col-1
                            input#stmi.form-control.py-4(type='text', placeholder='Enter minutes start')
                        .col-1
                            label.small.mb-1(for='sts') /
                        .col-1
                            input#sts.form-control.py-4(type='text', placeholder='Enter second start')
                    br

                    .row
                        .col-1
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                            a.btn.btn-primary(type='submit',id="add_table",style="background-color: green;") Choose


                
                link(href='/stylesheets/option_selector.css', rel="stylesheet")
        br
        .card.mb-4
            .card-header
                i.fas.fa-table.mr-1
                | DataTable
            .card-body
                include pages/includes/datatable.pug


append scripts    

    script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')


    script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js', crossorigin='anonymous')


    script(src='/javascripts/datatables.js')
