extends layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Tables'
    - var sidenavStyle = 'sb-sidenav-dark'
    
append css
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')
    link(href='https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css', rel='stylesheet', crossorigin='anonymous')

block content
    .container-fluid
        include pages/includes/page-header.pug
        .card.mb-4
            .card-body.
                DataTables help you see data from sensor intuitively
        br
        <div class="dt-buttons"> 
            <button class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="dataTable" type="button"><span>Copy</span></button> 
            <button class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="dataTable" type="button"><span>CSV</span></button> 
            <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="dataTable" type="button"><span>Excel</span></button> 
            <button class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="dataTable" type="button"><span>PDF</span></button> 
            <button class="dt-button buttons-print" tabindex="0" aria-controls="dataTable" type="button"><span>Print</span></button> 
        </div>
        br
        .card.mb-4
            .card-header
                i.fas.fa-table.mr-1
                | DataTable
            .card-body
                include pages/includes/datatable.pug


append scripts    
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    script(src='/javascripts/datatables-demo.js')

    script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js', crossorigin='anonymous')
