<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}
        //---add icon---///
        link(rel="icon" , type="image/png", href="images/icon.png")
        //--add a css file--//
        link(rel="stylesheet" href="/stylesheets/style.css")
        //--add js file---//

    //---------------------------------------------//
    body
        //----content--///
        h2(class="center") #{status}
        div
            form(action='/user/123214', method='get')
                input(type="text" name="token" placeholder="token verify...")
                br
                input(type='submit', value='Verify')
        br
        hr