extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Update Password
                        h6(id="statusPass",style="color: red;")
                    .card-body
                        form
                            .form-group
                                label.small.mb-1(for='email') Email
                                input#email.form-control.py-4(type='email', placeholder='Enter email address')
                            .form-group
                                label.small.mb-1(for='o_pass') old Password
                                input#o_pass.form-control.py-4(type='password', placeholder='Enter old password')
                            .form-group
                                label.small.mb-1(for='n_pass') new Password
                                input#n_pass.form-control.py-4(type='password', placeholder='Enter new password')
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.btn.btn-primary(type='submit',id="updatePass",name="updatePass") Agree

                        script(src="/javascripts/updatePass.js")
                    .card-footer
                        | iot server 365
                    //- 
                    br
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Update ID
                        h6(id="statusID",style="color: red;")
                    .card-body
                        form
                            .form-group
                                label.small.mb-1(for='email') Email
                                input#email.form-control.py-4(type='email', placeholder='Enter email address')
                            .form-group
                                label.small.mb-1(for='o_pass') Password
                                input#o_pass.form-control.py-4(type='password', placeholder='Enter password')
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.btn.btn-primary(type='submit',id="updateID",name="updateID") Agree

                        script(src="/javascripts/updateID.js")
                    .card-footer
                        | iot server 365
