<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}
        //---add icon---///
        link(rel="icon" , type="image/png", href="images/icon.png")
        //--add a css file--//
        link(rel="stylesheet" ,href="/stylesheets/style.css")
        link(rel="stylesheet" ,href="/stylesheets/styleRowColumn.css")
        link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        //--add js file---//
        script(type ="text/javascript",src="/javascripts/tool.js").
            showTime()
    //---------------------------------------------//
    body(onload="showTime()",style="background-color:blue;")
        //--clock---///
        div(id ="Clock", class= "clock")
        hr
        //----content--///
        h2(style="text-align :center") #{status}

        form(action='/', method='get')
            br
            hr
            input(type='submit', value='    Home    ',style="width: auto;background-color: red")

        
        <h2>Two Equal Columns</h2>
        //--Row 1
        <div class="row">
            <div class="column" style="background-color:white;">
                <h2>Active your account or upadte password,ID </h2>
                form(action='/user/active', method='get')
                    br
                    input(type='submit', value='    Active    ',style="width: auto;background-color: green")

                form(action='/user/update', method='get')
                    br
                    input(type='submit', value='    Update    ',style="width: auto;background-color: green")

            </div>
            <div class="column" style="background-color:white;">
                <h2>Log out or Delete your account</h2>
                form(action='/user/logout', method='get')
                    br
                input(type='submit', value='    Log out    ',style="width: auto;background-color: red")
        
                form(action='/user/delete', method='get')
                    br
                    input(type='submit', value='    Delete    ',style="width: auto;background-color: red")
            
            </div>
        </div>
        br
        hr
        //-- Row 2
        <div class="row">
            <div class="column" style="background-color:white;">
                <h2>Controll devie in your home</h2>
                form(action='/user/GUI', method='get')
                    br
                    input(type='submit', value='    GUI    ',style="width: auto;background-color: white")

            </div>
            <div class="column" style="background-color:white;">
                <h2>See data from sensor</h2>
                form(action='/user/display', method='get')
                    br
                    input(type='submit', value='    Display    ',style="width: auto;background-color: white")
            
            </div>
        </div>

            
        