extends /layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Veryfi special number
                        h6(id="status",style="color: red;")
                    .card-body
                        form
                            .form-group
                                label.small.mb-1(for='email') Email
                                input#email.form-control.py-4(type='email', placeholder='Enter email address')
                            .form-group
                                label.small.mb-1(for='number') Special number
                                input#number.form-control.py-4(type='password', placeholder='Enter special number')
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.btn.btn-primary(type='submit',id="verify",name="verify") Verify

                        script(src="/javascripts/verify.js")
                    .card-footer.text-center
                        .small
                            a(href='/forgetpass') Don't receive number, try again
