body 
{
    background-color: antiquewhite;
}
.clock {
    text-align: center;
    font-size: 60px;
    letter-spacing: 7px;
    color: aqua;
    background-color: black;
}
/**/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

