footer.py-4.bg-light.mt-auto
    .container-fluid
        .d-flex.align-items-center.justify-content-between.small
            .text-muted
                | Copyright &copy; Iot Server 365
            div
                a(href='https://www.privacypolicygenerator.info/live.php?token=W9pM7cojZBfILhO1RQWLyQgJJ2gD6JY4') Privacy Policy
                | 
                | &middot;
                | 
                a(href='https://www.termsandconditionsgenerator.com/live.php?token=rovRKq0SULvXcEjVwSpS512jpCAqEeSK') Terms &amp; Conditions
