h1.mt-4 #{pageTitle}
if user
    ol.breadcrumb.mb-4
        li.breadcrumb-item.active #{pageTitle}
else
    ol.breadcrumb.mb-4
        li.breadcrumb-item
            a(href='#') Feature Card
        li.breadcrumb-item.active #{pageTitle}
